@model IEnumerable<ExamCreates.ViewModels.Article>
@{
    ViewData["Title"] = "Home Page";
    string[] sık = { "A", "B", "C", "D", "DC" };
    int count = 0;
  
}

<html>

<head>


    <style>
           html,body{
        height: 100%;
    }

.questions{
    width: 80%;
}
.title{
    display: flex;
    align-items: center;
}
.title input{
    height: 35px;
    width: 90%;
    margin-left: 15px;
    box-sizing: content-box;
}
.answer{
    width: 45%;
    height: 35px;
}
.answer-first-line{
    display: flex;
    margin-top: 15px;
}
.answer-first-line p{
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
}
.answer-second-line{
    display: flex;
    margin-top: 15px;
    font-weight: bold;

}
.answer-second-line p{
    margin-left: 5px;
    margin-right: 5px;
}
.answer-right{
    margin-left: 15px;
}
.true-answer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.true-answer input{
    width: 50%;
    height: 35px;
    margin-left: 10px;
}
input{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
}



      
        #Question {
            height: auto;
            display: none; /*Sayfa Yüklenirken Gizlemek İçin*/
            flex-direction:column;
            width:100%;
            margin: 10px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            align-items:center;
        }

        .name {
            position: absolute;
            top: -25px;
            left: 20px;
            background-color: #fff;
            padding-right: 10px;
            padding-left: 10px;
            padding-top: 0;
        }

        .elements {
            border-style: solid;
            width:80vw;
            height:auto;
            margin-right: 5px;
            margin-top: 15px;
        }

        .tr {
            width: 100%;
            height: 60px;
        }

        .td {
            width: 50%;
            height: 60px;
        }

        .inputs {
            width: 100%;
        }
        #title,#detail{
       min-height:50px; 
        width:80%;
        }
        .questions-wrapper{
            display:flex;
            flex-direction:column;

            width:90vw;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p>@ViewBag.error</p>
        <div id="Articles">
            <table>

                @foreach (var data in Model)
                {
                    <tr>
                        <td>
                            <label style='width: auto; height: auto;'> @data.title</label>
                        </td>
                        <td>

                            <a onclick="ExamCreate('@data.link','@data.title')" href="#">Seç</a>
                        </td>
                    </tr>

                }
            </table>

        </div>

    

        <div id="Question">
            <button onclick="Question_Hide()" style='width:100px;height:50px'>Geri</button>
            @using (Html.BeginForm("ExamSave", "Home", FormMethod.Post))
            {
                @Html.TextArea("title", "", new { id = "title" })
                @Html.TextArea("detail", "", new { id = "detail", oninput = "auto_grow(this)" })

                <div class="questions-wrapper">
                    @for (var i = 0; i < 4; i++)
                    {
                        count++;
                        string question = "question" + count;
                        string a = sık[0] + count;
                        string b = sık[1] + count;
                        string c = sık[2] + count;
                        string d = sık[3] + count;
                        string dc = sık[4] + count;
                        string soru = "Soru-" + count;


                        <div class='elements'>


                            <div class="questions">
                                <div class="title">
                                    <p>@soru )</p>
                                    @Html.TextBox(question, "Deneme", new { id = question })
                                </div>
                                <div class="answer-first-line">
                                    <p>@sık[0]</p>
                                    @Html.TextBox(a, "Deneme", new { id = a, @class = "answer" })
                                    <p>@sık[1]</p>
                                    @Html.TextBox(b, "Deneme", new { id = b, @class = "answer answer-right" })
                                </div>
                                <div class="answer-second-line">
                                    <p>@sık[2]</p>
                                    @Html.TextBox(c, "Deneme", new { id = c, @class = "answer" })
                                    <p>@sık[3]</p>
                                    @Html.TextBox(d, "Deneme", new { id = d, @class = "answer answer-right" })
                                </div>
                                <div class="true-answer">
                                    <p> @sık[4]</p>
                                    @Html.TextBox(dc, "Deneme", new { id = dc })
                                </div>
                            </div>

                        </div>




                     }
                </div>
                <input type='submit' style='width:200px;height:50px' value='Sınav Oluştur' />
             }
       </div>
                    
        <script>
      

             

            function Question_Hide() {

                $("#Question").hide();
                $("#Articles").show();
            }

            function ExamCreate(link, title) {
                try {
                    $.ajax({
                        type: "POST",
                        url: "/Home/ExamCreate",
                        data: { 'link': link },
                        dataType: "text",
                        success: function (response) {


                            $('#title').val(title);
                            $('#detail').val(response);
                         
                            $("#Articles").hide();
                            $("#Question").show();


                        }
                
                    });


                }
                catch
                {

                    return;
                }


            }

           
        </script>
</body>

</html>